*,
html {
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@400;500;700&family=Roboto+Mono:wght@300&display=swap');

body {
background-color: white;
height: 300vh;
}

section {
    min-height: 100vh;
    padding: 10rem 11% 2rem;
}

/* Navbar */
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;  
    padding: 1rem;
    box-shadow: 0 1px 5px black;
}
nav img {
   width: 10rem;
   height: 5rem;
}
.nav-kiri {
    display: flex;
    gap: 3rem;
    align-items: center;  
}
.nav-kiri a {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
}
.nav-kiri a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;    
  width: 0;
  height: 2px;
  background-color: black;
  transition: .3s;
}
.nav-kiri a:hover::before {
    width: 70%;
    transition: .3s;
}
.nav-kiri a:hover {
    color:black;
    transition: 0.8s ease-in-out;
    transition-delay: 0.4s;
    border-radius: 8px;
}
.nav-kiri a::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none; 
}
.nav-kanan {
    display: flex;
    gap: 3rem;
    align-items: center;   
}       
.nav-kanan a {
    font-size: 2rem;
    color: black;
}
/* Navbar end */

/* content */
.content {
    justify-content: center;
    display: flex;
    align-items: center;
}
.main-content {
    text-align: center;
   
}
.main-content h1 {
    color: rgb(216, 206, 206);
    margin-bottom: 5vh;
}
.kiwkiw {
    display: flex;
    align-items: center;
    justify-content: center;
}
.kiwkiw h1{
    width: 40%;
}
.content img {
    width: 40%;
}
/* content */

/* Product Page */
.title h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title h2 {
    font-size: 1rem;
}

.product img {
    width: 25%;
    height: 25%;
}

/* Footer */
footer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    background-color: rgb(115, 111, 111);
    color: #fff;
    padding: 10px;
}
.footer-U1 img {
    width: 15%;
}
.footer-U1 p {
    width: 50%;
}
/* Footer end */

