@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@400;500;700&family=Roboto+Mono:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {  
background-color: white;
}

section {
    min-height: 100vh;
    padding: 10rem 11% 2rem;
}

/* Navbar */
nav {
    width: 100%;
    justify-content:space-around;  
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.558);
    box-shadow: 0 1px 5px black;
    position: fixed;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 9999;
}
nav.scrolling-active {
    background-color: white ;
    padding: 30px 0 30px 0;
}
nav .box-nav  {
    align-items: center;
    justify-content: space-around;
    display: flex;
}
nav img {
   width: 10rem;
   height: 5rem;
}
.nav-kiri {
    display: flex;
    gap: 3rem;
    align-items: center;  
}
.nav-kiri a {
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    /* text-shadow: 1px 2px 1px black; */
}
.nav-kiri a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;    
  width: 0;
  height: 2px;
  background-color: black;
  transition: .3s;
}
.nav-kiri a:hover::before {
    width: 70%;
    transition: .3s;
}
.nav-kiri a:hover {
    color:black;
    transition: 0.8s ease-in-out;
    transition-delay: 0.4s;
    border-radius: 8px;
}
.nav-kiri a::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none; 
}
.nav-kanan {
    display: flex;
    gap: 3rem;
    align-items: center;   
}       
.nav-kanan a {
    font-size: 2rem;
    color: black;
}
/* Navbar end */

/* Menu */
.menu-bar i{
    font-size: 2.5rem;
    display: none;
    color: rgb(0, 0, 0);
    margin-left: 10rem;
   
}
/* Menu end */

/* Landing Pages */
header {
    background-image:linear-gradient(rgba(23, 22, 22, 0.8), rgba(23, 22, 22, 0.8)), url(asset/Bg-landing-pages/karung\ jantan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Landing {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.Landing  .box-content {
    
}
.box-content h1 {
    color: white;
}
/* Landing pages end */

/* content */
.content {
    justify-content: center;
    display: flex;
    align-items: center;
}
.main-content {
    text-align: center;
   
}
.main-content h1 {
    color: rgb(216, 206, 206);
    margin-bottom: 5vh;
}
.kiwkiw {
    display: flex;
    align-items: center;
    justify-content: center;
}
.kiwkiw h1{
    width: 40%;
}
.content img {
    width: 40%;
}
/* content */

/* ABOUT */
.about-section {
    display: flex;
    flex-direction: column;
}
.about-content {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.about-text h2 {
    line-height: 35px;
}

.about-text p {
    line-height: 20px;
}

button {
    width: 150px;
    height: 50px;
    margin-top: 60px;
    background-color: #36454F;
    border-style: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

button a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #FFFFFF;
}

.about-content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.services {
    display: flex;
    flex-direction: column;
}

.services-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.services-title h2 {
    margin-left: 10px;
}

.services-title i {
    font-size: 4rem;
}

.services-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 68px;
}

.services-content i {
    font-size: 2rem;
    margin-right: 10px;
}

.operational {
    display: flex;
    flex-direction: column;
}

.operational-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.operational-title i {
    font-size: 4rem;
    margin-right: 10px;
}

.operational-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 70px;
}

.operational-time i {
    font-size: 2rem;
    margin-right: 10px;
}
/* Product Page */
.title h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .1rem;
}

.main1 {
    margin-top: 6rem;
}

.product img {
    width: 100%;
    margin-bottom: .5rem;
    /* border: 1.5px solid rgba(0, 0, 0, .9); */
    border-radius: 10px;
}

.product {
    padding: 10px;
    margin: 2rem 2rem;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.product-page {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.product h4 {
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Footer */
footer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
}
.footer-U1 img {
    width: 15%;
}
.footer-U1 p {
    margin-top: 7px;
    width: 50%;
}
.footer-U {
    display: flex;
    justify-content: space-between;
    padding: 20px;  
  }

  .footer-U2 {
    display: block;
  }
  .footer-U2 h2 {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
  }
  .wadah-U2 {
    flex-direction: column;
  }
  .footer-S a i{
   font-size: 1.5rem;
   gap: 10px;
  }
  .footer-S a {
    text-decoration: none;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 50%;
  

  }
  .garis {
    content: '';
    width: 100%;
    height: 0.2px;
    background-color: #fff;

  }
 .copyrigth {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 50px;

 }
 .copyrigth p {
    margin-right: 10px;
 }
 .copyrigth a {
    color: white;
 }
/* Footer end */

/* contact */
.main-maps h3 {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bolder;
}

.desc-contact {
    display: flex;
    justify-content: center;
}

.sub-maps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}

.sub-maps-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 16px;
}

.sub-maps img {
    height: 310px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px black;
}

.sub-kanan iframe {
    height: 310px;
    width: 780px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px black;
}
.sub-maps-2 img {
    height: 310px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 10px black;
}

.sub-kanan-2 iframe {
    height: 310px;
    width: 780px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px black;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact::before {
    content: '';
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    margin-bottom: 185px;
    margin-left: 37px;
}

.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
}

.sub-contact {
    margin-top: 15px;
    display: flex;
}

.sub-contact a {
    margin-top: 10px;
    font-size: 50px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
/* contact end */

/* Responsive */
@media screen and (max-width:990px) {
    nav .box-nav .wadah-nav .menu-bar i {
        display: block;
    }
    .wadah-nav .nav-kanan {
        display: none;
    }
    nav .box-nav .wadah-nav .nav-kiri {
       width: 100%;
       position: absolute;
       flex-direction: column;
       justify-content: center;
       display: flex;
       padding: 2rem 0 2rem 0;
       align-items: center;
       margin-top: 3.1rem;
       right: 45%;
       color: black;
       transform: translateX(45%);
       -webkit-transform: translateX(45%);
       -moz-transform: translateX(45%);
       -ms-transform: translateX(45%);
       -o-transform: translateX(45%);
        opacity: 0;
       transition: all 0.3s ease;
       -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
       background-color: white;
    }
    nav .box-nav .nav-kiri.menu-active {
        opacity: 1;
        border-top: 1px solid rgb(0, 0, 0);
    }
    nav .logo img {
        width: 8rem;
        height: 4rem;
    }
}   
